{% extends 'base.html' %}

{% block content %}
<h1 class="text-center mb-3">Games Routes</h1>
<ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-start">/games/all_games <a
                  class="align-self-end" href="/games/all_games">(Example)</a></li>
      <li class="list-group-item d-flex justify-content-between align-items-start">/games/&ltgame_id&gt <a
                  list-group-item-action href="/games/1">(Example)</a></li>
</ul>
{% endblock %}