.search_bar {
   font-size: 1rem;
   height: 50px;
   width: 300px;
   background-color: white;
   padding-left: 10px;
   outline: none;
   text-overflow: ellipsis;
   border-radius: 25px;
 }
 .search_bar:first-letter {
   text-transform: capitalize;
 }
 #listbox--1 > * {
   padding: 5px 5px;
   text-transform: capitalize;
   letter-spacing: 0.5px;
 }